{
  extends: [
    'eslint-config-airbnb/base',
    'eslint-config-airbnb/rules/strict',
  ],
  'rules': {
    'indent': [2, 'tab', { 'SwitchCase': 1, 'VariableDeclarator': 1 }],
    'quotes': [1, 'single', 'avoid-escape'],
  },
  'plugins': [
    'react'
  ],
  "settings": {
    "react": {
      "pragma": "hJSX",  // Pragma to use, default to "React"
    }
  },
  "parser": "babel-eslint",
}
